@page
@model IndexModel
@{    
    ViewData["Title"] = "Home page";
}



<style>
    .jumbotron {
        display: flex;
        flex-direction: column;
        justify-content: center; 
        align-items: center;     
        height: 80vh;            
        text-align: center;
    }
</style>

<div class="jumbotron">
    <h1>.NET 💜 Azure</h1>
    <h1>Sandeep Nalumasu</h1>
    <h1>500236713</h1>
    <p class="lead">Example .NET app to Azure App Service.</p>
    <p class="lead">Testing the GitHub Actions Workflow.</p>
</div>